//
// Global
// --------------------------------------------------

body, html {
    height:100%;

    &.disableScroll {
        overflow:hidden;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background: $theme-dark;
    }
}

main {
    flex: 1 0 auto;
    overflow: hidden;
}

section {
    min-height: 60vh; // Can be removed later

    &:nth-child(even) {
        background-color: $theme-color;
    }
    &:nth-child(odd) {
        background-color: $black;
    }
}